.header {
    background-color: #1f2937;
    color: #f9FAF8;
}

.top {
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    margin-bottom: 120px;
    padding: 0;
}

.title {
    font-size: 24px;
    font-weight: bolder;
    margin: 12px;
}

.list {
    display: inline-flex;
    margin: 0 12px;
}

.bottom {
    margin: 0 115px;
}

.awesome {
    display: flex;
    font-size: 48px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    color: #f9FAF8;
}

.subtext {
    display: flex;
    max-width: 400px;
    font-size: 18px;
    color: #E5E7EB;
    flex-wrap: wrap;
}

.button {
    background-color: #3882f6;
    color: #f9FAF8;
    font-weight: bold;
    border: none;
    height: 25px;
    width: 80px;
    border-radius: 5px;
    display: inline;
}

.bird {
    position: relative;
    left: 900px;
    bottom: 140px;
    width: 600px;
    height: auto;
}

.container {
    display: flex;
    justify-content: center;
    gap: 52px;
    margin-bottom: 50px;
}

.stock {
    border-color: #3882f6;
    border-width: 5px;
    border-radius: 5px;
    width: 100px;
    height: 100px;
}

.header_container {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    margin: 40px 0;
}

.info {
    max-width: 100px;
}

.body {
    background-color: #E5E7EB;
}

.quote {
    text-align: center;
    max-width: 600px;
    font-size: 26px;
    font-style: italic;
    color: #1f2937;
    margin-left: 650px;
}

.source {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    margin-left: 1050px;
    margin-bottom: 100px;
}

.action {
    display: flex;
    justify-content: center;
    background-color: #5d98f7;
    margin: 100px 600px;
    padding: 50px;
}

.call {
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.sub {
    color: white;
    font-size: 12px;
}

.footer {
    display: flex;
}